*{margin: 0; padding:0;}
a{text-decoration: none;}
li{list-style: none;}

nav{
    position: fixed;
    left: 50%;
    width: 1200px;
    height: 120px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-logo{
    width: 70px;
    height: 70px;
    background: url(images/big-logo.png) no-repeat center center / contain;
}
.menu{
     height: 70px;   
}
.menu ul{
    height: 70px;
    display: flex;
    align-items: flex-end;
}
.menu ul li{
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 0 30px;
}
.shop{
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: orange;
    color: white;
}
.shop i{
    font-size: 45px;
}