*{margin: 0; padding: 0;}
a{
    color: black; 
    *color: black;
    -color: black;
    text-decoration: none;
}
li{
    list-style: none;
    *zoom: 1;
    *display: inline;
    *list-style-type: none;
}
        
header{
    border-bottom: 1px solid darkgray;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: rgba(255,255,255, .9);
}
.wrap{
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    background: url(images/big-logo.png) no-repeat center center / contain;
    -ms-behavior: url('backgrondsize.');
    transform: rotate(-10deg);
    transform-origin: 50% 100%;
    animation: logoMove 5s ease-in-out infinite;
    -moz-animation: logoMove 5s ease-in-out infinite;
    -o-animation: logoMove 5s ease-in-out infinite;
    -ms-animation: logoMove 5s ease-in-out infinite;
}
@keyframes logoMove{
    0%{transform: rotate(-10deg);}
    50%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}
#topNavi{
    height: 100px;
    overflow: hidden;
    z-index: 10;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
#topNavi:hover{
    height: 330px;
    overflow: visible;
}
.depth1 > li, .depth1 > li > a, .depth1 > li > a span{
    float: left;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #111;
}
.depth1 > li > a {
    -moz-perspective: 900px;
    -webkit-perspective: 900px;
    perspective: 900px;
}
.depth1 > li > a span {
    position: relative;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.depth1 > li > a span::before {
    opacity: 0;
    filter: alpha(opacity=0);
    ms-filter: "alpha(opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 92%;
    background: gold;
    content: attr(data-hover);
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -moz-transform-origin: 50% 0 50%;
    -ms-transform-origin: 50% 0 50%;
    -webkit-transform-origin: 50% 0 50%;
    transform-origin: 50% 0 50%;
}
.depth1 > li:hover > a span, .depth1 > li > a:focus span {
    -moz-transform: rotateX(90deg) translateY(-22px);
    -ms-transform: rotateX(90deg) translateY(-22px);
    -webkit-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}
.depth1 > li:hover > a span::before, .depth1 > li > a:focus span::before {
    opacity: 1;
}
.navi_icon{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.icon{
    position: absolute;
    top: 70px;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.depth1 li:hover .icon{
    position: absolute;
    top: 105px;
    opacity: 1;
}
.depth1 li:nth-child(1):hover .icon{
    background: url(images/big-logo.png) no-repeat center center / contain;
}
.depth1 li:nth-child(2):hover .icon{
    background: url(images/megaphone.png) no-repeat center center / contain;
}
.depth1 li:nth-child(3):hover .icon{
    background: url(images/information.png) no-repeat center center / contain;
    background-color: white;
}
.depth1 li:nth-child(4):hover .icon{
    background: url(images/jobs.png) no-repeat center center / contain;
}
.numb{
    z-index: 4;
    width: 150px;
    height: 16px;
    line-height: 16px;
}
.depth2{ 
    margin-top: 15px;
    font-size: 15px;
}
.depth2 > li, .depth2 > li > a{
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
}
.depth2 li a {
    display: block;
    color: #797878;
    position: relative;
}
.depth2 li a::before {
    position: absolute;
    top: 0;
    max-width: 0;
    height: 40px;
    white-space: nowrap;
    border-bottom: 2px solid #333;
    color: #333;
    content: attr(data-hover);
    overflow: hidden;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width .3s;
}
.depth2 li a:hover::before {
    max-width: 100%;
}
.naviRight{
    width: 175px;
    height: 80px;
    line-height: 90px;
}
.naviRight i{
    border: 1px solid darkgray;
    border-radius: 50%;
    color: dimgray;
    font-size: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 6.2px;
    margin-left: 10px;
}
.naviRight i:hover{
    background: gold;
    color: white;
    border: 0;
}
.navi_layer{
    width: 100%;
    border-bottom: 1px solid darkgray;
    box-shadow: 0 1px 1px darkgray;
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 0px;
    transition: all 0.2s ease-in-out;
}
#topNavi:hover .navi_layer{
    height: 290px;
}
.white_bg{
    background-color: white;
    height: 100%;
}


#main{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
#slider{
    width: 500%;
    height: 800px;
    position: relative;
    left: 0;
    animation: slide 30s infinite;    
}
@keyframes slide{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
}
#slider > div{
    width: 20%;
    height: 800px;
    float: left;
    background-size: 100%;
    opacity: .8;
}
.slide1{background: url(images/a0b8414bd033fac61a5941575dada986.jpg) no-repeat center top / contain;}
.slide2{background: url(images/b.jpg) no-repeat center center;}
.slide3{background: url(images/w_visual.jpg) no-repeat center center / contain;}
.slide4{background: url(images/slide1.jpg) no-repeat center center;}
.slide5{background: url(images/a0b8414bd033fac61a5941575dada986.jpg) no-repeat center top;}

.slideText{
    width: 1200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3 ease-in-out;
}
/*.block{
    border: 1px solid green;
    width: 1200px;
    height: 150px;
    margin: -150px auto;
    position: absolute;
    left:0;
    right: 0;
    display: flex;
    justify-content: center;
}
.slideTitle{
    border: 5px solid gray;
    width: 260px;
    height: 140px;
}
        .wall{
            clear: both;
            border: 1px solid green;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
        }
        .wall div{
            border: 1px solid gold;
            width: 40px;
            height: 40px;
            font-size: 40px;
            text-align: center;
            line-height: 40px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .comp1{
            animation: wander01 linear 7s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            animation-direction: alternate; 
        }
        @keyframes wander01{
            0%{transform: translate(475px, 32px) rotate(0deg);}
            100%{transform: translate(475px, 550px) rotate(180deg);}
        }
        .comp2{
            animation: wander02 linear 9s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            animation-direction: alternate; 
        }
        @keyframes wander02{
            0%{transform: translate(100px, 40px) rotate(0deg);}
            100%{transform: translate(100px, 200px) rotate(180deg);}
        }
        .comp3{
            animation: wander03 linear 9s;
            animation-iteration-count: infinite;
            transform-origin: 50% 50%;
            animation-direction: alternate; 
        }
        @keyframes wander03{
            0%{transform: translate(1430px, 300px) rotate(0deg);}
            100%{transform: translate(1430px, 500px) rotate(180deg);}
        }
#zeroFloor{
    width: 1200px;
    height: 500px;
}
#firstFloor{
    background: white;
    height: 500px;
}
#firstFloor p{
    border: 1px solid black;
            width: 200px;
            height: 50px;
            margin: 30px auto;
            margin-bottom: -45px;
        }
        .aaa{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .gradient{
            margin: 0 20px;
            float: left;
            background: linear-gradient(45deg,#ff4f58 0,#ff4f58 57%,#fd7048 100%);
            width: 300px;
            height: 300px;
        }
        #secondFloor{
            background: url(images/b.jpg) no-repeat center center;
            height: 500px;
        }*/