* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: black}
input[type="checkbox"], input[type="radio"] {display: none;}
label {cursor: pointer;}

header {
    width: 1200px;
    margin: 0 auto;
}
.gnb {
    height: 25px;
    font-size: 14px;
}
.gnb label {
    float: left;
    width: 90px;
    text-align: center;
    margin-top: 5px;
}
.gnb img {
    position: absolute;
    z-index: 10;
    border: 1px solid darkgray;
    overflow: hidden;
    height: 0;
    transform: translate(-90px, 25px) rotate(0deg) scale(0);
    transition: all .5s ease-in-out;
}
.gnb input:checked~img {
    overflow: visible;
    height: 300px;
    transform: translate(-90px, 25px) rotate(-360deg) scale(1);
}
.gnb-right {
    float: right;
    width: 368px;
}
.gnb-right li {
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 5px;
    border-right: 1px solid lightgray;
}
.gnb-right li:last-child {
    border-right: none;
}

.common-header {
    width: 1200px;
    height: 80px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-logo {
    background: url("images/logo-mall.gif") no-repeat center center;
    display: block;
    width: 170px;
    height: 64px;
    margin-left: -10px;
    margin-right: 10px;
}
input[type="search"] {
    border: 3px solid #ec8139;
    display: block;
    width: 500px;
    height: 50px;
    padding-left: 10px;
}
.common-header .fa-search {
    cursor: pointer;
    background-color: #ec8139;
    color: white;
    z-index: 10;
    margin-left: -49px;
    width: 48px;
    height: 48px;
    font-size: 34px;
    text-align: center;
    line-height: 48px;
}

#top-navi {
    border: 1px solid gold;
    height: 70px;
    margin-top: 10px;
}
.menu-open-button {
    background: gold;
    width: 70px;
    height: 70px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 70px;
    transform: translate(0, 0);
    transition: transform ease-out 0.2s;
}
.lines {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -12.5px;
    transition: transform ease-out 0.2s;
}
.line-1 {
    transform: translate(0, -8px);
}
.line-2 {
    transform: translate(0, 0);
}
.line-3 {
    transform: translate(0, 8px);
}
.menu-open:checked ~ .menu-open-button .line-1 {
    transform: translate(0, 0) rotate(45deg);
}
.menu-open:checked ~ .menu-open-button .line-2 {
    transform: translate(0, 0) scale(.1, 1);
}
.menu-open:checked ~ .menu-open-button .line-3 {
    transform: translate(0, 0) rotate(-45deg);
}
#top-navi span:last-child {
    display: block;
    width: 120px;
    margin-left: 70px;
    color: black;
}
.allCategory {
    border: 1px solid gold;
    border-right: 0;
    margin-left: -1px;
}
.cat-image {
    border: 1px solid gold;
    border-left: 0;
    width: 198px;
    height: 515px;
    margin-left: 1000px;
}
.allCategory, .cat-image {
    z-index: 10;
    background: white;
    overflow: hidden;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 203px;
    transition: all .3s ease-in-out;
}
#top-navi input:checked~.allCategory, #top-navi input:checked~.cat-image, #top-navi input:checked~.allCategory .depth1 {
    overflow: visible;
    height: 515px;
    opacity: 1;
}
.depth1 {
    width: 1000px;
    height: 0px;
    overflow: hidden;
}
.depth1>li {
    float: left;
    width: 200px;
    text-align: center;
    margin: 5px 0;
}
.depth1>li:nth-child(1), .depth1>li:nth-child(2), .depth1>li:nth-child(3), .depth1>li:nth-child(4), .depth1>li:nth-child(5) {
    margin-top: 0;
}
.depth1>li:nth-child(11) {
    clear: both;
}
.depth1 > li > a {
    color: #89BB00;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
}
#top-navi > ul {
    width: 1000px;
    height: 70px;
    float: right;
}
#top-navi > ul li {
    float: left;
    width: 199px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-left: 1px solid gold;
}
#top-navi > ul li:last-child {
    border-right: 0;
}
#top-navi > ul li a{
    display: block;
}
#top-navi > ul li a:hover{
    background-color: rgba(137,187,0,.75);
}
.stroke {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    border: 2px solid gold;
}


#main {
    clear: both;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    margin-top: 2px;
}
.mainMenu {
    z-index: 5;
    position: absolute;
    width: 180px;
    height: 500px;
    background-color: rgba(213, 213, 213, .4);
    padding-left: 5px;
}
.mainMenu>li {
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid white;
}
.mainMenu>li:last-child {
    border: 0;
}
.mainMenu li a {
    display: block;
    width: 180px;
    height: 37px;
}
div[class|="main-wrap"] {
    position: absolute;
    left: 180px;
    top: 0;
    width: 180px;
    height: 498px;
    border: 1px solid darkgray;
    background-color: white;
    padding-left: 15px;
    overflow: hidden;
    height: 0;
    opacity: 0;
}
.mainMenu > li:nth-child(1):hover div[class$= "1"], .mainMenu > li:nth-child(2):hover div[class$= "2"], .mainMenu > li:nth-child(3):hover div[class$= "3"], .mainMenu > li:nth-child(4):hover div[class$= "4"], .mainMenu > li:nth-child(5):hover div[class$= "5"], .mainMenu > li:nth-child(6):hover div[class$= "6"], .mainMenu > li:nth-child(7):hover div[class$= "7"], .mainMenu > li:nth-child(8):hover div[class$= "8"], .mainMenu > li:nth-child(9):hover div[class$= "9"], .mainMenu > li:nth-child(10):hover div[class$= "10"], .mainMenu > li:nth-child(11):hover div[class$= "11"], .mainMenu > li:nth-child(12):hover div[class$= "12"], .mainMenu > li:nth-child(13):hover div[class$= "13"] {
    overflow: visible;
    height: 498px;
    opacity: 1;
}

.between{
    display: block;
    width: 115px;
    height: 50px;
    background-color: beige;
    position: absolute;
    z-index: 4;
    margin-top: 450px;
    margin-left: 185px;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
}
.between i{                                     
    animation: gesture 1.5s ease-in-out infinite;
}
@keyframes gesture {
    0%{margin-left: -5px;}
    50%{margin-left: 5px;}
    100%{margin-left: -5px;}
}

.mainbanner {
    width: 900px;
    height: 500px;
    float: right;
}
.mainbanner > ul > li span{
    display: block;
    width: 178px;
    height: 48px;
    float: left;
    margin-top: 450px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    background-color: beige;
    border: 1px solid darkgray;
    border-right: 0;
}
.mainbanner > ul > li:last-child span{
    border-right: 1px solid darkgray;
}
.mainbanner > ul > li span:hover{
    background-color: darkorange;
}
.mainbanner ul > li:nth-child(1):hover div[class$="bg1"], .mainbanner ul > li:nth-child(2):hover div[class$="bg2"], .mainbanner ul > li:nth-child(3):hover div[class$="bg3"], .mainbanner ul > li:nth-child(4):hover div[class$="bg4"], .mainbanner ul > li:nth-child(5):hover div[class$="bg5"]{
    z-index: 10;
    display: block;
}
div[class|= "bannerWrap"] .banner{
    position: absolute;
    width: 900px;
    height: 450px;
    overflow: hidden;
}
.bg1 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
}
.bg2 {
    background: url("images/0111_00000000178_ii_on_12_1.png") no-repeat center center;
    display: none;
}
.bg3 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
    display: none;
}
.bg4 {
    background: url("images/0111_00000000178_ii_on_12_1.png") no-repeat center center;
    display: none;
}
.bg5 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
    display: none;
}
.bnBg{
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 500px;
    background-color: #FFF6CB;
    overflow: hidden;
}
.mainbanner ul > li:nth-child(1):hover div[class~= "layer1"]{
    background-color: #FFF6CB;
    z-index: -1;
}
.mainbanner ul > li:nth-child(2):hover div[class~= "layer2"]{
    background-color: #FFE58D;
    z-index: -1;
}
.mainbanner ul > li:nth-child(3):hover div[class~= "layer3"]{
    background-color: #FFF6CB;
    z-index: -1;
}
.mainbanner ul > li:nth-child(4):hover div[class~= "layer4"]{
    background-color: #FFE58D;
    z-index: -1;
}
.mainbanner ul > li:nth-child(5):hover div[class~= "layer5"]{
    background-color: #FFF6CB;
    z-index: -1;
}
.lineEft{
    width: 180px;
    height: 3px;
    background-color: forestgreen;
    position: absolute;
    margin-top: 447px;
    opacity: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}
.long2{
    margin-left: 179px;
}
.long3{
    margin-left: 358px;
}
.long4{
    margin-left: 537px;
}
.long5{
    margin-left: 716px;
}
.mainbanner ul > li:nth-child(1):hover div[class$="long1"], .mainbanner ul > li:nth-child(2):hover div[class$="long2"], .mainbanner ul > li:nth-child(3):hover div[class$="long3"], .mainbanner ul > li:nth-child(4):hover div[class$="long4"], .mainbanner ul > li:nth-child(5):hover div[class$="long5"]{
    animation: long .5s ease-in-out;
    opacity: 1;
}
@keyframes long{
    0%{width:0;}
    100%{width:180px;}
}



#firstFloor{
    clear: both;
    width: 1200px;
    height: 430px;
    margin: 40px auto;
}
#firstFloor h3{
    text-align: center;
    font-size: 30px;
}
#firstFloor h3 b{
    color: orange;
}
#firstFloor >a {
    float: right;
    display: block;
    width: 90px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    margin-top: -25px;
    border: 1px solid black;
    transition: all .3s ease-in-out;
}
#firstFloor ul{
    width: 1200px;
    margin-top: 10px;
}
#firstFloor ul li{
    width: 280px;
    height:360px;
    float: left;
    margin: 10px;
    position: relative;
}
.new{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    background: url(images/new-product-sticker.png) no-repeat center center / contain;
    margin: 10px;
    color: rgba(255,255,255,0.1);
    overflow: hidden;
}
div[class|="shimmer"]{
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, #fff, #e5e5e5);
  background: -webkit-linear-gradient(to right, #fff, #e5e5e5);
  background: -moz-linear-gradient(to right, #fff, #e5e5e5);
}
div[class*="shm1"]{
    -moz-animation: shimmery 3.5s infinite;
    -webkit-animation: shimmery 3.5s infinite;
    animation: shimmery 3.5s infinite 0s;
}
div[class*="shm2"]{
    -moz-animation: shimmery 3.5s infinite;
    -webkit-animation: shimmery 3.5s infinite;
    animation: shimmery 3.5s infinite 1s;
}
div[class*="shm3"]{
    -moz-animation: shimmery 3.5s infinite;
    -webkit-animation: shimmery 3.5s infinite;
    animation: shimmery 3.5s infinite .5s;
}
div[class*="shm4"]{
    -moz-animation: shimmery 3.5s infinite;
    -webkit-animation: shimmery 3.5s infinite;
    animation: shimmery 3.5s infinite 1.5s;
}
@keyframes shimmery{
  0% {margin-left: -400px; opacity:0; transform: rotate(0deg);}
  100%{margin-left: 400px; opacity: 1; transform: rotate(60deg);}
}
#firstFloor ul li > a{
    display: block;
    width: 280px;
    height: 360px;
    border: 1px solid darkgray;
}
div[class|="product"]{
    width: 280px;
    height: 280px;
}
div[class*= "dp1"]{
    background: url(images/149690455138731_e.jpg) no-repeat center center / contain;
}
div[class*= "dp2"]{
    background: url(images/148973813788109_e.jpg) no-repeat center center / contain;
}
div[class*= "dp3"]{
    background: url(images/149136164944356_e.jpg) no-repeat center center / contain;
}
div[class*= "dp4"]{
    background: url(images/149136182238833_e.jpg) no-repeat center center / contain;
}
#firstFloor span[class|= "pdt"]{
    display: block;
    text-align: center;
    width: 280px;
}
.pdt-Name{
    height: 40px;
    line-height: 37px;
    font-size: 18px;
}
.pdt-Price{
    height: 40px;
    font-size: 30px;
    position: absolute;
    bottom: 0;
}
.pdt-Name small{
    display: block;
    margin-top: -8px;
    margin-bottom: -58px;
}
#firstFloor ul li:hover > a{
    border: 1px solid orange;
}
#firstFloor ul li a:hover:after{
    z-index: -1;
    opacity: 1;
}
#firstFloor ul li:hover .btn-on{
    overflow: visible;
    opacity: 1;
    margin-top: -150px;
}
.btn-on:hover ~ #firstFloor ul li > a:after{
    opacity: 1;
    z-index: -1;
}
#firstFloor ul li > a:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 85px;
    background-color: orange;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.btn-on{
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}
.btn-on a{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 5px; 
    border-radius: 50%;
    background-color: dimgrey;
}
.btn-on a span{
    display: block;
    width: 30px;
    height: 30px;
    margin: 12px auto 0;
}
.btn-on a:nth-child(1) span{
    background: url(images/search.png) no-repeat center center / contain;
}
.btn-on a:nth-child(2) span{
    background: url(images/heart.png) no-repeat center center / contain;
}
.btn-on a:nth-child(3) span{
    background: url(images/icon.png) no-repeat center center / contain;
}


#secondFloor{
    clear: both;
    width: 1200px;
    height: 800px;
    margin: 40px auto;
}
.Floor2bg{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 825px;
    background-color: antiquewhite;
    z-index: -1;
}
#secondFloor h3{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
#secondFloor h3 b{
    color: orange;
}
#secondFloor label{
    display: block;
    float: left;
    margin-top: 20px;
    width: 239px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    border: 1px solid darkgray;
    border-right: 0;
    background-color: white;
}
#secondFloor label:last-of-type{
    width: 238px;
    border-right: 1px solid darkgray;
}
#secondFloor input:checked + label{
    background-color: rgba(137,187,0,.75);
}
.popular{
    position: absolute;
    margin-top: 70px;
    width: 1198px;
    height: 680px;
    border: 1px solid darkgray;
    border-top: none;
    background-color: white;
}
.popular > li{
    width: 1200px;
    height: 640px;
    margin: 10px auto;
    display: none;
}
#popular1:checked ~ .popular .p1, #popular2:checked ~ .popular .p2, #popular3:checked ~ .popular .p3, #popular4:checked ~ .popular .p4, #popular5:checked ~ .popular .p5{
    display: block;
}
.popular > li ul li{
    width: 250px;
    height:300px;
    float: left;
    margin: 15px 25px;
    position: relative;
}  
div[class*= "popul"]{
    width: 220px;
    height: 220px;
    margin: 0 auto;
}
div[class*= "Pd11"]{background: url(images/Pd11.jpg) no-repeat center center / contain;}
div[class*= "Pd12"]{background: url(images/Pd12.jpg) no-repeat center center / contain;}
div[class*= "Pd13"]{background: url(images/Pd13.jpg) no-repeat center center / contain;}
div[class*= "Pd14"]{background: url(images/Pd14.jpg) no-repeat center center / contain;}
div[class*= "Pd15"]{background: url(images/Pd15.jpg) no-repeat center center / contain;}
div[class*= "Pd16"]{background: url(images/Pd16.jpg) no-repeat center center / contain;}
div[class*= "Pd17"]{background: url(images/Pd17.jpg) no-repeat center center / contain;}
div[class*= "Pd18"]{background: url(images/Pd18.jpg) no-repeat center center / contain;}

div[class*= "Pd21"]{background: url(images/Pd21.jpg) no-repeat center center / contain;}
div[class*= "Pd22"]{background: url(images/Pd22.jpg) no-repeat center center / contain;}
div[class*= "Pd23"]{background: url(images/Pd23.jpg) no-repeat center center / contain;}
div[class*= "Pd24"]{background: url(images/Pd24.jpg) no-repeat center center / contain;}
div[class*= "Pd25"]{background: url(images/Pd25.jpg) no-repeat center center / contain;}
div[class*= "Pd26"]{background: url(images/Pd26.jpg) no-repeat center center / contain;}
div[class*= "Pd27"]{background: url(images/Pd27.jpg) no-repeat center center / contain;}
div[class*= "Pd28"]{background: url(images/Pd28.jpg) no-repeat center center / contain;}

div[class*= "Pd31"]{background: url(images/Pd31.jpg) no-repeat center center / contain;}
div[class*= "Pd32"]{background: url(images/Pd32.jpg) no-repeat center center / contain;}
div[class*= "Pd33"]{background: url(images/Pd33.jpg) no-repeat center center / contain;}
div[class*= "Pd34"]{background: url(images/Pd34.jpg) no-repeat center center / contain;}
div[class*= "Pd35"]{background: url(images/Pd35.jpg) no-repeat center center / contain;}
div[class*= "Pd36"]{background: url(images/Pd36.jpg) no-repeat center center / contain;}
div[class*= "Pd37"]{background: url(images/Pd37.jpg) no-repeat center center / contain;}
div[class*= "Pd38"]{background: url(images/Pd38.jpg) no-repeat center center / contain;}

div[class*= "Pd41"]{background: url(images/Pd41.jpg) no-repeat center center / contain;}
div[class*= "Pd42"]{background: url(images/Pd42.jpg) no-repeat center center / contain;}
div[class*= "Pd43"]{background: url(images/Pd43.jpg) no-repeat center center / contain;}
div[class*= "Pd44"]{background: url(images/Pd44.jpg) no-repeat center center / contain;}
div[class*= "Pd45"]{background: url(images/Pd45.jpg) no-repeat center center / contain;}
div[class*= "Pd46"]{background: url(images/Pd46.jpg) no-repeat center center / contain;}
div[class*= "Pd47"]{background: url(images/Pd47.jpg) no-repeat center center / contain;}
div[class*= "Pd48"]{background: url(images/Pd48.jpg) no-repeat center center / contain;}

div[class*= "Pd51"]{background: url(images/Pd51.jpg) no-repeat center center / contain;}
div[class*= "Pd52"]{background: url(images/Pd52.jpg) no-repeat center center / contain;}
div[class*= "Pd53"]{background: url(images/Pd53.jpg) no-repeat center center / contain;}
div[class*= "Pd54"]{background: url(images/Pd54.jpg) no-repeat center center / contain;}
div[class*= "Pd55"]{background: url(images/Pd55.jpg) no-repeat center center / contain;}
div[class*= "Pd56"]{background: url(images/Pd56.jpg) no-repeat center center / contain;}
div[class*= "Pd57"]{background: url(images/Pd57.jpg) no-repeat center center / contain;}
div[class*= "Pd58"]{background: url(images/Pd58.jpg) no-repeat center center / contain;}

li[class|="p"] a span{
    display: block;
    text-align: center;
    width: 250px;
}
.Pdname{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.Pdname small{
    display: block;
    margin-top: -16px;
    margin-bottom: -30px;
}
.Pdprice{
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    position: absolute;
    bottom: 0;
}

#thirdFloor{
    width: 1200px;
    height: 870px;
    margin: 0 auto;
}
#thirdFloor h3{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}
#thirdFloor h3 b{
    color: orange;
}
.cookWrap{
    position: relative;
    width: 1200px;
    height: 840px;
    overflow: hidden;
    margin: 10px auto;
}
.recipe{
    position: absolute;
    width: 1200px;
    height: 800px;
    transition: left ease-in-out 1000ms;
    display: flex;
    align-content: space-between;
}
.recipe label{
    font-size: 80px;
    margin-top: 400px;
    opacity: .3;
}
.recipe label:hover{
    opacity: 1;
}
label[class*= "chevron-left"]{
    margin-right: 10px;
}
label[class*= "chevron-right"]{
    margin-left: 10px;
}
input[id*="c1"]:checked ~ div[class~="card1"]{
    left: 0;
}
input[id*="c1"]:checked ~ div[class~="card2"]{
    left: 100%;
}
input[id*="c1"]:checked ~ div[class~="card3"]{
    left: 200%;
}
input[id*="c2"]:checked ~ div[class~="card2"]{
    left: 0;
}
input[id*="c2"]:checked ~ div[class~="card3"]{
    left: 100%;
}
input[id*="c2"]:checked ~ div[class~="card1"]{
    left: -100%;
}
input[id*="c3"]:checked ~ div[class~="card2"]{
    left: -100%;
}
input[id*="c3"]:checked ~ div[class~="card3"]{
    left: 0;
}
input[id*="c3"]:checked ~ div[class~="card1"]{
    left: -200%;
}
.recipe > div{
    border: 1px solid darkgray;
    border-radius: 10px;
    background-color: antiquewhite;
    text-align: center;
}
.recipe div h4{
    margin: 10px;
    text-align: center;
    font-size: 22px;
}
.recipe >div > div{
    width: 260px;
    height: 150px;
    border: 1px solid darkgray;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    float: left;
    margin: 20px 8px; 
}
.recipe >div > div span{
    display: block;
    width: 120px;
    height: 50px;
}
.videoPd1{
    background: url(images/videoPd1.jpg) no-repeat left center / contain;
}
.videoPd2{
    background: url(images/videoPd2.jpg) no-repeat left center / contain;
}
.videoPd3{
    background: url(images/videoPd3.jpg) no-repeat left center / contain;
}
.videoPd4{
    background: url(images/videoPd4.jpg) no-repeat left center / contain;
}
.videoPd5{
    background: url(images/videoPd5.jpg) no-repeat left center / contain;
}
.videoPd6{
    background: url(images/videoPd6.jpg) no-repeat left center / contain;
}

#fourthFloor{
    clear: both;
    width: 1200px;
    height: 230px;
    margin: 80px auto 35px;
    border: 1px solid darkgray;
}
#fourthFloor article{
    float: left;
    width: 260px;
    height: 210px;
    margin: 10px 15px; 
}
#fourthFloor article:hover{
    border: 1px solid darkgray;
}
#fourthFloor article h4{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
#fourthFloor article > a{
    display: block;
    float: right;
    width: 80px;
    height: 25px;
    margin-top: -29px;
}
#fourthFloor article:first-child span:nth-of-type(1){
    font-size: 18px;
}
#fourthFloor article:first-child span:nth-of-type(2){
    display: block;
    font-weight: bold;
    font-size: 24px;
}
#fourthFloor article:first-child span:nth-of-type(3){
    font-size: 15px;
    font-weight: 600;
}
#fourthFloor article:first-child span:nth-of-type(4){
    display: block;
    font-size: 15px;
}
#fourthFloor article:first-child span:nth-of-type(5){
    font-size: 14px;
    color: gray;
}
#fourthFloor article:first-child i{
    font-style: normal;
    color: orange;
}
#fourthFloor article:not(:last-child) ul li{
    width: 240px;
    float: right;
}
#fourthFloor article ul li{
    list-style: square;
}
#fourthFloor article:not(:last-child) ul li a{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;    
}
#fourthFloor article:last-child{
    width: 265px;
}
#fourthFloor article:last-child ul{
    font-size: 12px;
    font-weight: 600;
}
#fourthFloor article:last-child p{
    color: orange;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px solid orange;
    border-bottom-style: dashed;
}


footer{
    height: 150px;
}
footer div.f1{
    border-top: 2px solid orange;
    border-bottom: 1px solid darkgray;
    padding: 5px 0;
    margin-bottom: 5px;
}
.f1 div{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.f1 ul{
    width: 1000px;
    height: 28px;
    display: flex;
    justify-content: flex-start;
}
.f1 ul li a{
    line-height: 28px;
    padding:0 20px;
    border-right: 1px solid gray;
    font-size: 15px;
}
.f1 span{
    display: block;
    background: url(images/img_ottogiSite.gif) no-repeat center center;
    width: 118px;
    height: 20px;  
}
.f1 ul li:first-child a{
    padding-left: 0;
}
.f1 ul li:last-child a{
    border-right: none;
}
.f1 ul li:nth-child(3) a{
    color: #FFCF43;
}
footer div.f2{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.f2 span{
    display: block;
}
.f2 span:first-child{
    background: url(images/copyright_1.gif) no-repeat center center;
    width: 620px;
    height: 85px;
    padding-top: 45px;
    float: left; 
}
.f2 span:last-child{
    background: url(images/verisign.gif) no-repeat center center;
    width: 290px;
    height: 110px;
    float: right;
}