* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: black}
input[type="checkbox"] {display: none;}
label {cursor: pointer;}

header {
    width: 1200px;
    margin: 0 auto;
}
.gnb {
    height: 25px;
    font-size: 14px;
}
.gnb label {
    float: left;
    width: 90px;
    text-align: center;
    margin-top: 5px;
}
.gnb img {
    position: absolute;
    z-index: 10;
    border: 1px solid darkgray;
    overflow: hidden;
    height: 0;
    transform: translate(-90px, 25px) rotate(0deg) scale(0);
    transition: all .5s ease-in-out;
}
.gnb input:checked~img {
    overflow: visible;
    height: 300px;
    transform: translate(-90px, 25px) rotate(-360deg) scale(1);
}
.gnb-right {
    float: right;
    width: 368px;
}
.gnb-right li {
    float: left;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 5px;
    border-right: 1px solid lightgray;
}
.gnb-right li:last-child {
    border-right: none;
}

.common-header {
    width: 1200px;
    height: 80px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-logo {
    background: url(images/logo-mall.gif) no-repeat center center;
    display: block;
    width: 170px;
    height: 64px;
    margin-left: -10px;
    margin-right: 10px;
}
input[type="search"] {
    border: 3px solid #ec8139;
    display: block;
    width: 500px;
    height: 50px;
    padding-left: 10px;
}
.common-header .fa-search {
    cursor: pointer;
    background-color: #ec8139;
    color: white;
    z-index: 10;
    margin-left: -49px;
    width: 48px;
    height: 48px;
    font-size: 34px;
    text-align: center;
    line-height: 48px;
}

#top-navi {
    border: 1px solid gold;
    height: 70px;
    margin-top: 10px;
}
.menu-open-button {
    background: gold;
    width: 70px;
    height: 70px;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 70px;
    transform: translate(0, 0);
    transition: transform ease-out 0.2s;
}
.lines {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -12.5px;
    transition: transform ease-out 0.2s;
}
.line-1 {
    transform: translate(0, -8px);
}
.line-2 {
    transform: translate(0, 0);
}
.line-3 {
    transform: translate(0, 8px);
}
.menu-open:checked ~ .menu-open-button .line-1 {
    transform: translate(0, 0) rotate(45deg);
}
.menu-open:checked ~ .menu-open-button .line-2 {
    transform: translate(0, 0) scale(.1, 1);
}
.menu-open:checked ~ .menu-open-button .line-3 {
    transform: translate(0, 0) rotate(-45deg);
}
#top-navi span:last-child {
    display: block;
    width: 120px;
    margin-left: 70px;
    color: black;
}
.allCategory {
    border: 1px solid gold;
    border-right: 0;
    margin-left: -1px;
}
.cat-image {
    border: 1px solid gold;
    border-left: 0;
    width: 198px;
    height: 515px;
    margin-left: 1000px;
}
.allCategory, .cat-image {
    z-index: 10;
    background: white;
    overflow: hidden;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 203px;
    transition: all .3s ease-in-out;
}
#top-navi input:checked~.allCategory, #top-navi input:checked~.cat-image, #top-navi input:checked~.allCategory .depth1 {
    overflow: visible;
    height: 515px;
    opacity: 1;
}
.depth1 {
    width: 1000px;
    height: 0px;
    overflow: hidden;
}
.depth1>li {
    float: left;
    width: 200px;
    text-align: center;
    margin: 5px 0;
}
.depth1>li:nth-child(1), .depth1>li:nth-child(2), .depth1>li:nth-child(3), .depth1>li:nth-child(4), .depth1>li:nth-child(5) {
    margin-top: 0;
}
.depth1>li:nth-child(11) {
    clear: both;
}
.depth1>li>a {
    color: #89BB00;
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
}
#top-navi>ul {
    width: 1000px;
    height: 70px;
    float: right;
}
#top-navi>ul li {
    float: left;
    width: 199px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-left: 1px solid gold;
}
#top-navi>ul li:last-child {
    border-right: 0;
}
.stroke {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    border: 2px solid gold;
}


#main {
    clear: both;
    height: 500px;
    margin-top: 2px;
    border-bottom: 1px solid gray;
}
#mainContent {
    width: 1200px;
    margin: 0 auto;
}
.mainMenu {
    z-index: 5;
    position: absolute;
    width: 180px;
    height: 500px;
    background-color: rgba(213, 213, 213, .4);
    padding-left: 5px;
}
.mainMenu>li {
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid white;
}
.mainMenu>li:last-child {
    border: 0;
}
.mainMenu li a {
    display: block;
    width: 180px;
    height: 37px;
}
div[class|="main-wrap"] {
    position: absolute;
    left: 180px;
    top: 0;
    width: 180px;
    height: 498px;
    border: 1px solid darkgray;
    background-color: white;
    padding-left: 15px;
    overflow: hidden;
    height: 0;
    opacity: 0;
}
.mainMenu>li:nth-child(1):hover div[class$="1"], .mainMenu>li:nth-child(2):hover div[class$="2"], .mainMenu>li:nth-child(3):hover div[class$="3"], .mainMenu>li:nth-child(4):hover div[class$="4"], .mainMenu>li:nth-child(5):hover div[class$="5"], .mainMenu>li:nth-child(6):hover div[class$="6"], .mainMenu>li:nth-child(7):hover div[class$="7"], .mainMenu>li:nth-child(8):hover div[class$="8"], .mainMenu>li:nth-child(9):hover div[class$="9"], .mainMenu>li:nth-child(10):hover div[class$="10"], .mainMenu>li:nth-child(11):hover div[class$="11"], .mainMenu>li:nth-child(12):hover div[class$="12"], .mainMenu>li:nth-child(13):hover div[class$="13"] {
    overflow: visible;
    height: 498px;
    opacity: 1;
}

.mainbanner {
    width: 900px;
    height: 500px;
    float: right;
    position: relative;
}
.mainbanner > ul > li span{
    display: block;
    width: 180px;
    height: 50px;
    float: left;
    margin-top: 450px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    background-color: beige;
}
.mainbanner > ul > li span:hover{
    background-color: darkorange;
}
.mainbanner ul > li:nth-child(1):hover div[class$="a"], .mainbanner ul > li:nth-child(2):hover div[class$="b"], .mainbanner ul > li:nth-child(3):hover div[class$="c"], .mainbanner ul > li:nth-child(4):hover div[class$="d"], .mainbanner ul > li:nth-child(5):hover div[class$="e"]{
    z-index: 10;
}
.mainbanner ul > li:nth-child(1):hover div[class$="a"]{
    background-color: darkseagreen;
    width: 100%;
    left: 0;
    right: 0;
}
div[class|="bannerWrap"]{
    position: absolute;
}
div[class|="bannerWrap"] div{
    width: 900px;
    height: 450px;
}
.bg1 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
}
.bg2 {
    background: url("images/0111_00000000178_ii_on_12_1.png") no-repeat center center;
}
.bg3 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
}
.bg4 {
    background: url("images/0111_00000000178_ii_on_12_1.png") no-repeat center center;
}
.bg5 {
    background: url("images/0111_00000000178_ii_on_9_1.png") no-repeat center center;
}
.lineEft{
    width: 180px;
    height: 2px;
    background-color: forestgreen;
    z-index: 10;
    transition: 0.5s ease-in-out;
}.long1{
    position: absolute;
    margin-top: 450px;
    opacity: 0;
}
.long2{
    position: absolute;
    margin-top: 450px;
    margin-left: 180px;
    opacity: 0;
}
.long3{
    position: absolute;
    margin-top: 450px;
    margin-left: 360px;
    opacity: 0;
}
.long4{
    position: absolute;
    margin-top: 450px;
    margin-left: 540px;
    opacity: 0;
}
.long5{
    position: absolute;
    margin-top: 450px;
    margin-left: 720px;
    opacity: 0;
}
.mainbanner ul > li:nth-child(1):hover div[class$="long1"], .mainbanner ul > li:nth-child(2):hover div[class$="long2"], .mainbanner ul > li:nth-child(3):hover div[class$="long3"], .mainbanner ul > li:nth-child(4):hover div[class$="long4"], .mainbanner ul > li:nth-child(5):hover div[class$="long5"]{
    animation: long .5s ease-in-out;
    opacity: 1;
}
@keyframes long{
    0%{width:0;}
    100%{width:180px;}
}